html,
body {
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    margin: 2px;
    min-height: 200px;
    padding: 0;
    width: 380px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #2f5876;
}

a:link,
a:visited {
    color: #000;
    outline: 0;
    text-decoration: none;
}

img {
    width: 30px;
}

.modal-header {
    align-items: center;
    border-bottom: 0.5px solid #dba3a3;
}

.modal-content {
    padding: 0 22;
}

.modal-icons {
    border-top: 0.5px solid #dba3a3;
    height: 50px;
    width: 100%;
}

.logo {
    padding: 15px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 12px;
}

.version {
    color: #831e1e;
    font-size: 16px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
}

.flex {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    width: 120px;
}

.flex:hover {
    opacity: 0.4;
}

.flex .fab {
    font-size: 40px;
    color: #eb4a4a;
}