body {
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
    margin: 2px;
    min-height: 200px;
    padding: 0;
    width: 300px;
}

h1 {
    font-family: 'Menlo', monospace;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    color: #d34242;
}

.TitleText {
    padding-top: 3px;
}

.logo-icon {
    vertical-align: text-bottom;
    margin-right: 1px;
    width:40px;
}

a{
    color:#fff!important;
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 0rem rgba(220,53,69,.5);
}
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.0rem rgba(220,53,69,.5);
}
