{
  "name": "SubMan for YouTube",
  "description": "Youtube Subscription Manager",
  "version": "1.0.0",
  "manifest_version": 2,
  "key": "<extension-key>",
  "oauth2": {
    "client_id": "",
    "scopes":["https://www.googleapis.com/auth/youtube.readonly"]
  },
  "permissions": [
    "storage",
    "identity",
    "tabs"
  ],
  "options_page": "options/options.html",
  "icons": {
    "48": "icons/icon-48.png",
    "128": "icons/icon-128.png",
    "512": "icons/icon-512.png"
  },
  "web_accessible_resources": [
    "popup/images/*.png"
  ],
  "browser_action": {
    "default_title": "Youtube Subscription Manager",
    "default_popup": "popup/popup.html"
  },
  "background": {
    "scripts": [
      "background.js"
    ]
  }
}
